// COLORS

$green-100: #f1fbf7;
$green-200: #d2f2e3;
$green-300: #a5e6c6;
$green-400: #77d9aa;
$green-500: #4acd8d;
$green-600: #1dc071;

$violet-100: #e2dbff;
$violet-200: #c5b6fe;
$violet-300: #a992fe;
$violet-400: #8c6dfd;
$violet-500: #6f49fd;

$dark-100: #422c32;
$dark-200: #3a3a43;
$dark-300: #24242c;
$dark-400: #22222c;
$dark-500: #1c1c24;
$dark-600: #13131a;

$neutral-100: #b2b3bd;
$neutral-200: #a2a2a8;
$neutral-300: #808191;
$neutral-400: #4b5264;
$neutral-500: #171725;

$whitish-100: #fcfcfd;
$whitish-200: #f1f1f3;
$whitish-300: #fcfcfc;
$whitish-400: #fcfbff;
$whitish-500: #ffffff;

$red: #eb5757;
